<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LogFilesBaseFolder" value="C:\Pareto\LogFiles"/>
    <add key="DateFormat" value="ddMMyyyy"/>
    <add key="MaxDateRollBackups" value="7"/>
    <add key="LofFilesExtensionsToNotDelete" value=".xml,.keep,.1,.2,.3,.4,.5,.6,.7,.8,.9,.10"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
