<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="LogFilesBaseFolders" value="C:\DNVGL\LogFiles"/>
        <add key="DateFormats" value="yyyyMMdd,ddMMyyyy"/>
        <add key="MaxDateRollBackups" value="7"/>
        <add key="DefaultLogFileExtension" value=".log"/>
        <add key="LogFileExtensionsToNotDelete" value=".keep"/>
        <add key="DeleteFilesThatContainDateFormatInFilename" value="True"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
