<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <appender name="LogFilesPurger" type="log4net.Appender.RollingFileAppender">
    <file value="C:\LogFiles\LogFilesPurger\LogFilesPurger.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value=".yyyyMMdd" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%-2thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <root>
    <level value="Debug" />
    <appender-ref ref="LogFilesPurger" />
  </root>

</log4net>